:root {
  --background: #ededed;
  --foreground: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
}

